@page "/products"
@inject IProductService ProductService;

<PageTitle>Products</PageTitle>

<section>
    <h3>Products</h3>
    @if (products is not null)
    {
        foreach (var product in products)
        {
            <div class="@(product.isStock ? "bg-success":"bg-danger") d-flex justify-content-between my-2 rounded p-2">
                <p>@product.Name</p>
                <a href="/products/@product.ProductId" class="btn btn-info"  > Detail</a>
            </div>
        }        
    }
</section>

@code {
    public List<Product> products { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var p = await ProductService.GetAllProductsAsync();
        if (p is not null)
        {
            products = p;
        }
    }
}
