


<div class="min-h-screen min-w-100 bg-green-100 p-2">

    <h3>@message</h3>
    <CascadingValue Value="childProp">
        <CascadingValue Value="drinks" Name="drinks">
            <ChildComponent />
            <ChildComponent ClickFromParent="ClickFromParent" props="childProp">
                Render Fragment from parent
                Render Fragment from parent
                Render Fragment from parent
                Render Fragment from parent
            </ChildComponent>
        </CascadingValue>
    </CascadingValue>
</div>


@code
{
    public string messageForGrandChild { get; set; } = "Message for grand child from parent";
    public string message { get; set; } = string.Empty;

    public ChildProps childProp = new ChildProps() {ChildPropsId = 1,Message = "This is props from parent" };

    protected override void OnInitialized()
    {
        this.childProp.test = new Test() { Name = "test name one from parent",Status =true,TestPropetries = null };
    }


    private void ClickFromParent()
    {
        message = "Click from child the parent method!";
    }

    List<Drink> drinks = new List<Drink>
    {
        new Drink{DrinkId = 1,Name="Coffee",Type= "Expresso"},
        new Drink{DrinkId = 2,Name="SoftDrink",Type= "Shark"},
    };
}