@page "/routes"
@page "/routes/{id:int}"
@page "/routes/{id:int}/{name}"
@page "/routes/{id:int}/{name}/{isSuccess:bool}"
@page "/routes/catchAll/{*catchAll}"

@rendermode InteractiveServer


@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager _NavigationManger;


<h3>Routes</h3>

Parameter one :@Id <br />
Parameter Two :@Name <br />
Parameter Three :@(IsSuccess ? "success":"fail") <br />
Parameter catch all :@CatchAll <br />
Parameter Grade :@grade <br />
@message


<br />
<a href="/routes?id=123&name=koko&isSuccess=true">Test Query Parameter</a> <br />
<button type="button" class="btn btn-info" @onclick="()=>LoadParameter()">Laod</button>
<button type="button" class="btn btn-info" @onclick="()=>Test()">Laod</button>


@code 
{
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromQuery(Name = "Grade")]
    public  string grade { get; set; }

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public bool IsSuccess { get; set; }

    [Parameter]
    public string CatchAll { get; set; }

    public string message { get; set; }

    private void LoadParameter()
    {
        _NavigationManger.NavigateTo("/routes?id=123&name=susu");
        var uri = new Uri(_NavigationManger.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        this.Id = int.Parse(query["id"]!);
        this.Name = query["name"];
        // this.IsSuccess = bool.Parse(query["isSuccess"]!);
    }

    private void Test()
    {
        message = "clicked!";
        StateHasChanged();
    }
}
