@page "/tests/two"
@using BlazorProduct_server.Client.Models
@using BlazorProduct_server.Client.components.shares
@rendermode InteractiveWebAssembly



<h3>TestTwoComponent</h3>


<div class="grid grid-cols-3 gap-3 p-4">

@foreach (var test in tests)
    {
        <TestComponent AddFav="UpdateTotalCount" test="test" DeleteTest="DeleteTest" />
    }
</div>

<p>Fav Count :@count</p>



@code {
    public List<Test> tests { get; set; } = default!;

    public int count { get; set; } = 0;

    protected override void OnInitialized()
    {
        tests =
            [
           new Test
           {
                    TestId = 1,
                    Name = "test one",
                    Status = false,
                    TestPropetries = new List<TestProps>()
                    {
                        new TestProps {TestPropsId = 1,Key = "color",Value="red"},
                        new TestProps {TestPropsId = 2,Key = "style",Value="inner"},
                        new TestProps {TestPropsId = 1,Key = "mode",Value="fast"},
                    }
           },
            new Test
           {
                    TestId = 2,
                    Name = "test Two",
                    Status = false,
                    TestPropetries = new List<TestProps>()
                    {
                        new TestProps {TestPropsId = 1,Key = "color",Value="red"},
                        new TestProps {TestPropsId = 2,Key = "style",Value="inner"},
                        new TestProps {TestPropsId = 1,Key = "mode",Value="fast"},
                    }
           },
    ];
    }

    private void DeleteTest(Test t)
    {
        var test = tests.FirstOrDefault(test => test.TestId == t.TestId);
        tests.Remove(test!);
    }

    private void UpdateTotalCount(bool status)
    {
        if (status is true)
        {
            count++;
        }
        else
        {
            count--;
        }
    }
}
